#nuevos-lanzamientos{
    background-color: #5f0f40;
}
#new{
    font-size: 36px;
    color: #ffffff;
    border: 2px solid #d0d0d0;
    box-shadow: 10px 5px 5px black;
}
#lista{
    font-size: 16px;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
}