/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/pages/page2/page2.scss ***!
  \*********************************************************************************************************************/
.body_populares {
  background-color: #ffb1ad;
}

.contenedor {
  width: 97%;
  margin: auto;
}



header .contenedor {
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #000000;
  font-size: 40px;
}

img {
  position: relative;
  top: 30px;
  left: 10px;
}
